@import '../../../styles/constants.scss';

:host {
  display: grid;
  grid-auto-flow: column;
  height: calc(100vh - $header-height);
  background: #fff;
  padding-bottom: 10px;
  box-sizing: border-box;
  overflow-x: auto;
  min-width: 600px;
}
