@import "../../../styles/constants.scss";

:host {
  min-width: $board-column-min-width;
  box-sizing: border-box;
  background: #f4f5f7;
  margin: 0 10px;
}

header {
  background: #fff;
  color: $main-color;
  font-weight: bold;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

.task-list {
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px 10px;
}
