<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title>Create card</h1>

  <mat-form-field appearance="fill">
    <mat-label>Task description</mat-label>
    <input
      matInput
      formControlName="taskDescription"
      aria-label="Task description"
    />
    <mat-error *ngIf="taskDescription.hasError('required')"
      >Please add the description</mat-error
    >
  </mat-form-field>

  <div mat-dialog-actions align="end">
    <button mat-button type="button" (click)="onCancelClick()">Cancel</button>
    <button mat-button type="submit">Ok</button>
  </div>
</form>
